{% extends "base.html.twig" %}

{% block body %}
    Ссылка на файл: <input readonly value="{{ app.request.uri }}" size="70"/><br>
    <a href="/files/{{ url }}/xml" >XML</a><br>
    Текущий размер файла: <label id="count">{{ data|length }}</label> bytes<br>
    <textarea id="text" oninput="updateSize()" cols="30" rows="20">{{ data }}</textarea><br>
    <button id="update">Сохранить изменения</button>
    <button id="download">Скачать как .json</button>
    <br><label id="error" hidden="true">Not valid JSON!</label>

    <script>
        function updateSize() {
            $("#count").html($("#text").val().length);
        }

        $('#update').click(function () {
            var inputText = $('#text').val();
            var res = isValidJSON(inputText);
            $('#error').attr("hidden", res);
            if (res) {
                updateJSON("/files/{{ url }}", inputText);
            }
        });

        $('#download').click(function () {
            var inputText = $('#text').val();
            var res = isValidJSON(inputText);
            $('#error').attr("hidden", res);
            if (res) {
                var a = document.createElement("a");
                a.download = "{{ filename }}";
                a.href = "data:text/json;charset=utf-8," + inputText;
                a.click();
            }
        });
    </script>
{% endblock %}